// --------------------------------------------
//                                  color
// --------------------------------------------
$main: #1d9cd8;
// --------------------------------------------
//  adaptive Точки останова для каждого запроса
// --------------------------------------------
$desktop: 1200px;
$notebook: 991px;
$phablet: 767px;
$phone: 575px;
