//--------------------------------------------
//                                        1200
//--------------------------------------------
@media (max-width: $desktop) {
  //------------------------
  //          header
  //------------------------
  //------------------------
  //          main
  //------------------------
  //------------------------
  //          footer
  //------------------------
}
//--------------------------------------------
//                                        991
//--------------------------------------------
@media (max-width: $notebook) {
  //------------------------
  //          header
  //------------------------
  //------------------------
  //          main
  //------------------------
  //------------------------
  //          footer
  //------------------------
}
//--------------------------------------------
//                                        767
//--------------------------------------------
@media (max-width: $phablet) {
  //------------------------
  //          header
  //------------------------
  .hamburger {
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 36px;
    height: 18px;
    span {
      display: block;
      height: 2px;
      width: 100%;
      background-color: #fff;
      margin-bottom: 5px;
      transition: 0.5s all;
    }
    &_active {
      span {
        margin-bottom: -2px;
        &:nth-child(1) {
          transform: translateY(3px) rotate(-45deg);
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform: translateY(3px) rotate(45deg);
        }
      }
    }
  }
  .nav {
    position: fixed;
    flex-direction: column;
    @include flex(space-evenly, center);
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 0px 10px 100px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.6s all;
    z-index: 1;
    &_active {
      left: 0;
    }
    &__link {
      margin: 0;
      font-size: 16px;
    }
  }
  //------------------------
  //          main
  //------------------------
  //------------------------
  //          footer
  //------------------------
}
//--------------------------------------------
//                                        575
//--------------------------------------------
@media (max-width: $phone) {
  //------------------------
  //          header
  //------------------------
  //------------------------
  //          main
  //------------------------
  //------------------------
  //          footer
  //------------------------
}
