//--------------------------------------------
//                                        1250
//--------------------------------------------
@media (max-width: 1250px) {
  .container {
    max-width: 90vw;
  }
  .footer__wrapper {
    grid-template: minmax(45px, auto) 1fr / repeat(6, minmax(15vw, auto));
  }
}

//--------------------------------------------
//                                        991
//--------------------------------------------
@media (max-width: 991px) {
  //------------------------
  //          main
  //------------------------
  .slide {
    &__text {
      padding: 10px 30px;
      font-size: 36px;
      right: 0;
      &_fs60 {
        font-size: 46px;
        span {
          font-size: 150px;
        }
      }
    }
    &__title {
      font-size: 18px;
    }
    &__subtitle {
      font-size: 12px;
    }
    &__footer {
      padding: 0 30px;
      align-items: flex-end;
    }
  }
  .swiper2 {
    margin-top: 40px;
  }
  //------------------------
  //          menu
  //------------------------
  .menu {
    &__link {
      font-size: 18px;
    }
  }
  //------------------------
  //          footer
  //------------------------
  .footer {
    margin-top: 190px;
    margin-bottom: 30px;
    &__wrapper {
      row-gap: 70px;
    }
    &__logo {
      width: 100px;
    }
    &__tel {
      display: block;
      font-size: 20px;
      margin-top: 4px;
    }
    &__text {
      font-size: 10px;
    }
    &__item {
      margin-bottom: 15px;
    }
    &__link,
    &__copyright {
      font-size: 12px;
    }
  }
}
//--------------------------------------------
//                                        767
//--------------------------------------------
@media (max-width: 767px) {
  .container {
    max-width: 95vw;
  }
  //------------------------
  //          main
  //------------------------
  .slide {
    &__text {
      font-size: 30px;
      &_fs60 {
        font-size: 32px;
        span {
          font-size: 100px;
        }
      }
    }
    &__title {
      font-size: 16px;
    }
    &__subtitle {
      font-size: 10px;
    }
  }
  //------------------------
  //          menu
  //------------------------
  .menu {
    &__link {
      font-size: 16px;
    }
    &__item {
      padding: 8px 0;
    }
  }
  //------------------------
  //          footer
  //------------------------
  .footer {
    margin-top: 150px;
    margin-bottom: 25px;
    &__logo {
      width: 70px;
      padding-right: 10px;
    }
    &__tel {
      font-size: 16px;
    }
    &____text {
      font-size: 8px;
    }
    &__item {
      margin-bottom: 10px;
    }
    &__link,
    &__copyright {
      font-size: 10px;
    }
    &__wrapper {
      row-gap: 50px;
    }
  }
}
//--------------------------------------------
//                                        575
//--------------------------------------------
@media (max-width: 576px) {
  //------------------------
  //          main
  //------------------------
  .main {
    padding-top: 20px;
  }
  .slide {
    &__text {
      font-size: 20px;
      padding: 5px 30px;
      &_fs60 {
        font-size: 32px;
        span {
          font-size: 100px;
        }
      }
    }
    &__title {
      font-size: 14px;
    }
    &__subtitle {
      margin-top: 4px;
    }
    &__footer {
      min-height: 45px;
    }
  }
  .swiper-container {
    padding-bottom: 30px;
  }
  .swiper2 {
    margin-top: 20px;
  }
  .swiper-container-horizontal
    > .swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 5px;
  }
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }
  //------------------------
  //          menu
  //------------------------
  .menu {
    &__link {
      font-size: 12px;
    }
    &__item {
      padding: 6px 0;
    }
  }
  //------------------------
  //          footer
  //------------------------
  .col-logo {
    flex-direction: column;
  }
  .footer {
    margin-top: 100px;
    margin-bottom: 20px;
    &__wrapper {
      row-gap: 40px;
      column-gap: 2px;
    }
    &__tel {
      font-size: 12px;
    }
    &__text {
      font-size: 6px;
    }
    &__item {
      margin-bottom: 3px;
    }
    &__link {
      font-size: 6px;
    }
  }
}
