.menu {
  padding-top: 40px;
  &__wrapper {
    @include flex();
  }
  &__col {
    width: 50%;
  }
  &__list {
    @include flex(center, flex-start);
    flex-direction: column;
    height: 100%;
    list-style: none;
  }
  &__item {
    padding: 10px 0;
    cursor: pointer;
  }
  &__link {
    font-family: "Gilroy-SemiBold", system-ui, -apple-system, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $main;
    text-decoration: none;
  }
}

.fade {
  -webkit-animation-name: fade;
  animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
}

.hide {
  display: none;
}
.show {
  display: block;
}
